 .u-section-1 {
  background-image: linear-gradient(to right, #2548b4, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-group-1 {
  min-height: 112px;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 29px;
  height: auto;
  width: 510px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 25px;
}

.u-section-1 .u-icon-1 {
  width: 48px;
  height: 48px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px auto 0 0;
  padding: 5px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -36px 4px 12px 60px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 208px;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 30px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.u-section-1 .u-icon-2 {
  width: 60px;
  height: 60px;
  transition-duration: 0.5s;
  margin: 36px auto 0 0;
  padding: 6px;
}

.u-section-1 .u-text-4 {
  margin: -66px 5px 0 66px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 48px;
  height: 48px;
  transition-duration: 0.5s;
  margin: 24px auto 0 6px;
  padding: 5px;
}

.u-section-1 .u-text-5 {
  margin: -36px 11px 0 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-map-1 {
  height: 415px;
  margin-top: 30px;
  margin-bottom: 0;
  transition-duration: 1s;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 682px;
  }

  .u-section-1 .u-group-1 {
    width: 410px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 308px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 49px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -73px;
    margin-right: 78px;
    margin-left: 104px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 64px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -42px;
    margin-left: 90px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-1 .u-map-1 {
    height: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-2 {
    min-height: 396px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 78px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 14px;
    margin-left: 90px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 58px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 768px;
  }

  .u-section-1 .u-map-1 {
    height: 589px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1491px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 488px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 716px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 170px;
    width: 402px;
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 324px;
    width: 436px;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -68px;
    margin-right: 8px;
    margin-left: 96px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 53px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 715px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-map-1 {
    height: 547px;
    width: 437px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 37px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-map-1 {
    width: 320px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  color: #db545a !important;
  stroke: #e36613 !important;
  border-color: #e36613 !important;
  stroke-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
}

.u-section-1 .u-icon-1 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  color: #db545a !important;
  stroke: #e36613 !important;
  border-color: #e36613 !important;
  stroke-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
}

.u-section-1 .u-icon-1 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  color: #db545a !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-2 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  color: #db545a !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-2 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  color: #db545a !important;
  stroke: #e36613 !important;
  border-color: #e36613 !important;
  stroke-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
}

.u-section-1 .u-icon-3 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover .u-svg-link {
  fill: #db545a !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  color: #db545a !important;
  stroke: #e36613 !important;
  border-color: #e36613 !important;
  stroke-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
}

.u-section-1 .u-icon-3 {
  stroke: transparent !important;
  border-color: transparent !important;
  stroke-width: 0 !important;
  border-width: 0px !important;
}

.u-section-1 .u-map-1,
.u-section-1 .u-map-1:before,
.u-section-1 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-map-1.u-map-1.u-map-1:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-map-1.u-map-1.u-map-1.hover {
  border-radius: 10px !important;
}